#create_new_coupon{
  width: 85%;
  height: auto;
  float: left;
  /*background-color: #00620C;*/
  
}
#create_new_coupon #content_create_new_coupon{
  margin-top: 100px;
  width: 93%;
  height: auto;
  float: left;
  margin-left: 5%;
  margin-right: 2%;
   
 /* background: #0066FF;*/
  
}
#create_new_coupon #content_create_new_coupon .create_new_coupon_title{
 width: 100%;
 height: auto;
 
/* background: #6c7670;*/
}

#create_new_coupon #content_create_new_coupon .create_new_coupon_title span{
  color: #000;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif, Arial;
}
#create_new_coupon #content_create_new_coupon .line_title{
  width: 100%;
  height: 1px;
  float: left;
  background: #d4d4d4;
}
#create_new_coupon #content_create_new_coupon .coupon_info_title{
  width: 100%;
  height: auto;
  text-align: left;
}
#create_new_coupon #content_create_new_coupon .coupon_info_title span{
   color: #999;
  font-size: 20px;
  font-weight: bold;
  font-style: italic; 
  font-family: sans-serif, Arial;
}

#create_new_coupon #content_create_new_coupon .box_input{
  width: 100%;
  margin-top: 20px;
  height: auto;
  
  /*temp
  height: 500px;
  background: #d4d4d4;*/
}

#create_new_coupon #content_create_new_coupon .box_input .image_profile{
  width: 20%;
  height: 300px;
  float: left;
  /*temp
  background:#00BDFF; */
}
#create_new_coupon #content_create_new_coupon .box_input .name_profile{
  width: 24.66%;
  height: 100px;
  float: left;
  margin-left: 2%;
  /*temp
  background:#468847;*/ 
}

#create_new_coupon #content_create_new_coupon .box_input .job_profile{
  width: 24.66%;
  height: 100px;
  float: left;
  margin-left: 2%;
  /*temp
  background:#465662; */
}
#create_new_coupon #content_create_new_coupon .box_input .phone_number_profile{
  width: 24.66%;
  height: 100px;
  float: left;
  margin-left: 2%;
  /*temp
  background:#ff0; */
}

#create_new_coupon #content_create_new_coupon .box_input .company_profile{
  width: 24.66%;
  height: 100px;
  float: left;
  margin-left: 2%;
  /*temp
  background:#474747;*/
}
#create_new_coupon #content_create_new_coupon .box_input .email_profile{
  width: 24.66%;
  height: 100px;
  float: left;
  margin-left: 2%;
  /*temp
  background:#ff0;*/
}
#create_new_coupon #content_create_new_coupon .box_input .facebock_url_profile{
  width: 24.66%;
  height: 100px;
  float: left;
  margin-left: 2%;
  /*temp
  background:#468847;*/
}
#create_new_coupon #content_create_new_coupon .box_input .code_coupon_profile{
  width: 24.66%;
  height: 100px;
  float: left;
  margin-left: 2%;
  /*temp
  background:#0066FF;*/
}
#create_new_coupon #content_create_new_coupon .box_input .password_profile{
  width: 24.66%;
  height: 100px;
  float: left;
  margin-left: 2%;
  /*temp
  background:#3a87ad;*/
}

#create_new_coupon #content_create_new_coupon .box_input .line_title{
  width: 100%;
  height: 1px;
  float: left;
  background: #d4d4d4;
  margin-top: 10px;
}
#create_new_coupon #content_create_new_coupon .box_input .introduce_coupon_profile{
  width: 100%;
  height: auto;
  float: left;
  margin-top: 15px;
  
  /*background: #d4d4d4;*/
}
#create_new_coupon #content_create_new_coupon .box_input .list_role_coupon{
  width: 100%;
  height: auto;
  float: left;
  margin-top: 15px;
  
  /*background: #d4d4d4;*/
}


#create_new_coupon #content_create_new_coupon .box_input .btn_save_cancel{
  width: 100%;
  height: 40px;
  float: left;
  margin-top: 15px;
  
  /*background: #d4d4d4;*/
}



#create_new_coupon #content_create_new_coupon .box_input .btn_save_cancel .btn_save{
  width: 10%;
  height: 40px;
  float: left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  text-align: center;
  
  background-image: -o-linear-gradient(bottom, #6ED60D 0%, #4D7D12 84%);
  background-image: -moz-linear-gradient(bottom, #6ED60D 0%, #4D7D12 84%);
  background-image: -webkit-linear-gradient(bottom, #6ED60D 0%, #4D7D12 84%);
  background-image: -ms-linear-gradient(bottom, #6ED60D 0%, #4D7D12 84%);
  background-image: linear-gradient(to bottom, #6ED60D 0%, #4D7D12 84%);

}
#create_new_coupon #content_create_new_coupon .box_input .btn_save_cancel .btn_save:hover{
  width: 10%;
  height: 40px;
  float: left;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-image: -o-linear-gradient(bottom, #509C03 0%, #73CF0B 100%);
  background-image: -moz-linear-gradient(bottom, #509C03 0%, #73CF0B 100%);
  background-image: -webkit-linear-gradient(bottom, #509C03 0%, #73CF0B 100%);
  background-image: -ms-linear-gradient(bottom, #509C03 0%, #73CF0B 100%);
  background-image: linear-gradient(to bottom, #509C03 0%, #73CF0B 100%);

}

#create_new_coupon #content_create_new_coupon .box_input .btn_save_cancel .btn_save lable{
  color: #FFF;
  font-size: 23px;
  font-family: sans-serif;

}
#create_new_coupon #content_create_new_coupon .box_input .btn_save_cancel .btn_save .center_text{
  margin-top: 5px;

}
#create_new_coupon #content_create_new_coupon .box_input .btn_save_cancel .btn_cancel{
  width: 10%;
  height: 40px;
  float: left;
  margin-left: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  text-align: center;
  
  background-image: -o-linear-gradient(bottom, #DEDEDE 0%, #292929 100%);
  background-image: -moz-linear-gradient(bottom, #DEDEDE 0%, #292929 100%);
  background-image: -webkit-linear-gradient(bottom, #DEDEDE 0%, #292929 100%);
  background-image: -ms-linear-gradient(bottom, #DEDEDE 0%, #292929 100%);
  background-image: linear-gradient(to bottom, #DEDEDE 0%, #292929 100%);
  
}
#create_new_coupon #content_create_new_coupon .box_input .btn_save_cancel .btn_cancel:hover{
  width: 10%;
  height: 40px;
  float: left;
  margin-left: 5px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  background-image: -o-linear-gradient(bottom, #595959 0%, #D1D1D1 100%);
  background-image: -moz-linear-gradient(bottom, #595959 0%, #D1D1D1 100%);
  background-image: -webkit-linear-gradient(bottom, #595959 0%, #D1D1D1 100%);
  background-image: -ms-linear-gradient(bottom, #595959 0%, #D1D1D1 100%);
  background-image: linear-gradient(to bottom, #595959 0%, #D1D1D1 100%);
  
}
#create_new_coupon #content_create_new_coupon .box_input .btn_save_cancel .btn_cancel lable{
  color: #FFF;
  font-size: 23px;
  font-family: sans-serif;

}
#create_new_coupon #content_create_new_coupon .box_input .btn_save_cancel .btn_cancel .center_text{
  margin-top: 5px;

}
#create_new_coupon #content_create_new_coupon .box_input span{
  color: #7e7e7e;
  font-size: 15px;
  font-family: sans-serif;
  font-style: italic;
}

#create_new_coupon #content_create_new_coupon .box_input .input_text{
  width: 100%;
  height: 50px;
  
  background: #fff;
  border: 1px solid #5bc0de;
  font-size: 15px;
  box-sizing: border-box;
  color: #595959;
  margin: 0;
  outline: 0;
  padding: 5px 0 6px 8px;
  -webkit-appearance: none;
}
#create_new_coupon #content_create_new_coupon .box_input .input_textarea{
  width: 100%;
  height: 150px;
   resize: none; 
  background: #fff;
  border: 1px solid #5bc0de;
  font-size: 15px;
  box-sizing: border-box;
  color: #595959;
  margin: 0;
  outline: 0;
  padding: 5px 0 6px 8px;
  -webkit-appearance: none;
}

ul.list_index {
width: 100%;
height: auto;
float: left;
clear: both;
margin: 0px;
padding: 0px;
list-style: none;
margin-top: 10px;
}
ul.list_index li {
width: 19%;
height: auto;
float: left;
clear: none;
margin-left: 5px;
cursor: pointer;
color:#000000;
font-size: 15px;
font-family: sans-serif;
margin-top: 5px;
margin-bottom: 5px;
}

ul.list_index li .checkbox {
width: 16px;
height: 18px;
background: url(../../../includes/images/icon/check.png) no-repeat;
cursor: pointer;
display: inline-block;
float: left;
/*margin-right: 5px;*/
}
ul.list_index li .checkboxSelect {
background: url(../../../includes/images/icon/checked.png) no-repeat;
/*margin-right: 5px;*/
display: inline-block;
float: left;
width: 16px;
height: 18px;
}


#create_new_coupon #content_create_new_coupon .box_input .list_coupon_of_res{
  width: 100%;
  height: auto;
  float: left;
  margin-top: 15px;
  
}



/*===*/
/*member list*/
#create_new_coupon #content_create_new_coupon .box_input .list_coupon_of_res{
 width: 100%;
 height: auto;
 margin-top: 5%;
 
 /*height:100px; 
 background:#FFA54E; */
}




#create_new_coupon #content_create_new_coupon .box_input .list_coupon_of_res .box_info{
 width: 100%;
 height: 50px;
 list-style: none;
 float: left;
 text-align: center;
 
 
 /*height:100px; 
 background:#FFA54E;*/
}
#create_new_coupon #content_create_new_coupon .box_input .list_coupon_of_res .box_info li{
 height: auto;
 float: left;
 margin-top: 15px;
}

#create_new_coupon #content_create_new_coupon .box_input .list_coupon_of_res .box_info li.stt_restaurant{
 width: 4%;
 /*temp
 background: #00AAE7;*/
}
#create_new_coupon #content_create_new_coupon .box_input .list_coupon_of_res .box_info li.stt_chose{
 width: 3%;
 margin-left: 1%;
 /*temp
 background: #00AAE7;*/
}
#create_new_coupon #content_create_new_coupon .box_input .list_coupon_of_res .box_info li.code_restaurant{
 width: 9%;
 margin-left: 1%;
 /*temp
 background: #d4d4d4;*/
}

#create_new_coupon #content_create_new_coupon .box_input .list_coupon_of_res .box_info li.name_restaurant{
 width: 30%;
 margin-left: 1%;
 /*temp
 background: #47a447;*/
}

#create_new_coupon #content_create_new_coupon .box_input .list_coupon_of_res .box_info li.job_restaurant{
 width: 14%;
 margin-left: 1%;
 /*temp
 background: #5bc0de;*/
}
#create_new_coupon #content_create_new_coupon .box_input .list_coupon_of_res .box_info li.email_restaurant{
 width: 10%;
 margin-left: 1%;
 /*temp
 background: #78A000;*/
}
#create_new_coupon #content_create_new_coupon .box_input .list_coupon_of_res .box_info li.phonenumber_restaurant{
 width: 14%;
 margin-left: 1%;
 /*temp
 background: #d5d59d;*/
}
#create_new_coupon #content_create_new_coupon .box_input .list_coupon_of_res .box_info li.company{
 width: 14%;
 margin-left: 1%;
 /*temp
 background: #f8efc0;*/
}
#create_new_coupon #content_create_new_coupon .box_input .list_coupon_of_res .box_info li.update_delete{
 width: 9%;
 margin-left: 1%;
 /*temp
 background: #A9D866;*/
}
#create_new_coupon #content_create_new_coupon .box_input .list_coupon_of_res .box_info li.update_delete .edit{
 width: 40px;
 height: 30px;
 float: left;
 background: url('../../../includes/images/icon/view_icn.png');
 background-repeat: no-repeat;
 background-position: center;
}
#create_new_coupon #content_create_new_coupon .box_input .list_coupon_of_res .box_info li.update_delete .delete{
 width: 40px;
 height: 30px;
 float: left;
 background: url('../../../includes/images/icon/delete_member.png');
 background-repeat: no-repeat;
 background-position: center;
}


#create_new_coupon #content_create_new_coupon .box_input .list_coupon_of_res .box_info li .index_bole{
 font-weight: bold;
 font-size: 15px;
 font-family: sans-serif, serif;
}

#create_new_coupon #content_create_new_coupon .box_input .list_coupon_of_res .box_info li .line_index{
 float: bottom;
 width: 100%;
 height: 2px;
 background: #a6e1ec;
}

#create_new_coupon #content_create_new_coupon .box_input .list_coupon_of_res .row_color{
  background: #a6e1ec;
}
#create_new_coupon #content_create_new_coupon .box_input .list_coupon_of_res .select_delete{
 background: #c9e2b3;
}