/*
|--------------------------------------------------------------------------
| PROMOTION  id="promotion"
|--------------------------------------------------------------------------
|file templates/content/promotion.php
| 
|
*/
#promotion{
 width: 100%;
 background: #fff;
 height: auto;
 float: left;
}
#promotion .promotion_title{
  width: 100%;
  height: 56px;
  background: url(../../../includes/images/icon/banner_green.png); 
}
#promotion .promotion_title .promotion_title_custom_center{
  width: 1024px;
  height: 56px;
  margin: 0 auto;
  background: url(../../../includes/images/icon/banner_green.png); 
}
#promotion .promotion_title .title_left{
 float:left;
 background: url(../../../includes/images/icon/khuyen_mai.png);
  
 width: 250px;
 height: 56px;
}
#promotion #restaurant_list_content .box_restaurant_content ul li{
 background: #FFF;
}
#promotion #restaurant_list_content .box_restaurant_content ul li 
  .detail_box .promotion_custom
{
  float: left;
  width: 220px;
  height: 268px;
  margin-left: 10px;
  margin-top: 10px;
  color: #4cae4c;
}
#promotion #restaurant_list_content .box_restaurant_content ul li 
  .detail_box .promotion_custom .img_item a img 
{
  width: 240px;
  height: 230px;
}

#promotion #restaurant_list_content .box_restaurant_content ul li 
  .detail_box .info_promotion .title{
  border-top:1px solid #D0D0D0;
  margin-top: 5px;
}
#promotion #restaurant_list_content .box_restaurant_content ul li 
  .detail_box .info_promotion .title a{
 font-size: 14px;
 color: #e10000;
 font-weight: bold;
 text-decoration: none;
}
#promotion #restaurant_list_content .box_restaurant_content ul li 
  .detail_box .info_promotion .title a:hover{
 font-size: 14px;
 color: #f0ad4e;
 font-weight: bold;
 text-decoration: none;
}
#promotion #restaurant_list_content .box_restaurant_content ul li 
  .detail_box .info_promotion .info_promotion{
 color: #999;
 font-size: 12px;
 margin-top: 2px;
 margin-left: 5px;
 margin-right: 5px;
 
}



