#restaurant_list_content .box_restaurant_content{ 
 width: 100%;
 /*padding: 10px 10px 10px 10px;*/
 background: #fff;
 height: auto;
 float: left;
 margin-bottom: 10px;
 text-align: center;
}
#restaurant_list_content .box_restaurant_content .box_restaurant_content_custom_center{ 
  width: 1280px;
  height: auto;
  margin: 0 auto;
}

#restaurant_list_content .box_restaurant_content ul{ 
 list-style: none;
/* width: 1014px;*/
 background: #FFF;
 margin-top: 10px;
 margin-left: 2px;
 width: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#restaurant_list_content .box_restaurant_content ul li{ 
 width:240px;
 /*height:350px;*/
 height: 380px;
 background: #FFF;
 border-radius: 5px;
 margin-left: 5px;
 margin-top: 10px;
 float: left;
 border: 1px solid #D0D0D0; 
}
/*
#restaurant_list_content .box_restaurant_content ul li:hover .detail_box .img_item a img{ 
   -webkit-transition: opacity .1s ease-in;
   -moz-transition: opactiy .1s ease-in;
   -ms-transition: opacity .1s ease-in;
   -o-transition: opacity .1s ease-in;
   transition: opacity .1s ease-in;
   zoom: 1;
   filter: alpha(opacity=100);
   opacity: 0.5;
}
*/


#restaurant_list_content .box_restaurant_content ul li.li_more{ 
 width:240px;
 height:380px;
 background: #eee;
 border-radius: 5px;
 margin-left: 5px;
 margin-top: 10px;
 float: left;
 border: 1px solid #D0D0D0; 
}
/* detail_box restaurant list==========================================>*/


#restaurant_list_content .box_restaurant_content ul li a { 
 text-decoration: none;
 
 
}
#restaurant_list_content .box_restaurant_content ul li a:hover { 
 text-decoration: none;
 
 
}
#restaurant_list_content .box_restaurant_content ul li  .button_more_noload{ 
  /*width: 100px;
  height: 35px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  border: 1px solid #D0D0D0;
  margin-top: 20px;
  margin-left: 46px;*/
  width: 100px;
  height: 100px;
  /*border: 1px solid #D0D0D0;*/
  margin-top: 120px;
  margin-left: 65px;
  background: url(../../../includes/images/icon/loading.png);
}

/*temp*/
/*
#restaurant_list_content .box_restaurant_content ul li .detail_box .img_item a:hover img{
  -webkit-transition: opacity .3s ease-in;
   -moz-transition: opactiy .3s ease-in;
   -ms-transition: opacity .3s ease-in;
   -o-transition: opacity .3s ease-in;
   transition: opacity .3s ease-in;
   opacity: 1;
}
 #restaurant_list_content .box_restaurant_content ul li:hover {
   -webkit-transition: opacity .3s ease-in;
   -moz-transition: opactiy .3s ease-in;
   -ms-transition: opacity .3s ease-in;
   -o-transition: opacity .3s ease-in;
   transition: opacity .3s ease-in;
   zoom: 1;
   filter: alpha(opacity=100);
   opacity: 0.5;
   }

box-shadow: 0 0 10px #000;
float: left;
position: relative;
width: 174px;
height: 117px;
margin: 0;
padding: 5px;
*/

/*end temp*/


#restaurant_list_content .box_restaurant_content ul li  .button_more_loading{ 
 
  width: 100px;
  height: 100px;
  margin-top: 120px;
  margin-left: 65px;
  background:url(../../../includes/images/icon/loading.gif);
  background-position: center;
  background-repeat: no-repeat;
}

#restaurant_list_content .box_restaurant_content ul li  .button_more .text{ 
 text-align: center;
 margin-top: 6px;
}
#restaurant_list_content .box_restaurant_content ul li  .button_more .text span{ 
  color: #269abc;
}


#restaurant_list_content .box_restaurant_content ul li .detail_box .img_item .comment_like_animate{
  width: 82px;
  height:40px;
  position: absolute;
  margin-top: -220px;
  margin-left: 148px;
  /*background: #7bae00;*/
}
#restaurant_list_content .box_restaurant_content ul li .detail_box .img_item .comment_like_animate 
.image_bg_comment_animate{
  width: 40px;
  height:40px;
  float: left;
  background: url(../../../includes/images/icon/btn_radio.png);
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;
}
#restaurant_list_content .box_restaurant_content ul li .detail_box .img_item .comment_like_animate 
.image_comment_animate{
  width: 35px;
  height:35px;
  float: left;
  background: url(../../../includes/images/icon/icon_comment.png);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}



#restaurant_list_content .box_restaurant_content ul li .detail_box .img_item .comment_like_animate 
.image_bg_like_animate{
  width: 40px;
  height:40px;
  float: left;
  margin-left: 2px;
  
  background: url(../../../includes/images/icon/btn_radio.png);
  background-size: 40px;
  background-position: center;
  background-repeat: no-repeat;
}
#restaurant_list_content .box_restaurant_content ul li .detail_box .img_item .comment_like_animate 
.image_like_animate{
  width: 33px;
  height:33px;
  float: left;
  margin-left: 2px;
  background: url(../../../includes/images/icon/icon_thumbsup.png);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
}






#restaurant_list_content .box_restaurant_content ul li .detail_box .img_item a img{
  height: 230px;
  background:url('') no-repeat center center ;
  width:240px;
  -webkit-border-radius: 5px 5px 0px 0px;
  -moz-border-radius: 5px 5px 0px 0px;
  border-radius: 5px 5px 0px 0px;
  position: relative;
  text-align: center;


}

#restaurant_list_content .box_restaurant_content ul li 
  .detail_box .img_item .box_info_authentication {
  /*position: absolute;
  bottom: 10px;
  right: -200px;
  z-index: 10;
  border-right: none;
  */
  margin-top:-35px;
  position:absolute;
  margin-left:89px;
  text-align: center;
}

#restaurant_list_content .box_restaurant_content ul li 
  .detail_box .img_item .box_info_authentication  .item_left{
  width: 100px;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  background: #7bae00;
  color: #FFF;
  font-weight: bold;
  display: inline-block;
  float: left;
}
#restaurant_list_content .box_restaurant_content ul li 
  .detail_box .img_item .box_info_authentication  .item_left_red{
  width: 100px;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  background: #e10000;
  color: #FFF;
  font-weight: bold;
  display: inline-block;
  float: left;
}
#restaurant_list_content .box_restaurant_content ul li 
  .detail_box .img_item .box_info_authentication  
    div.item_right 
{
  display:none;
  position: absolute;
bottom: 10px;
right: -200px;
z-index: 10;
border-right: none;
    
    
}

  
#restaurant_list_content .box_restaurant_content ul li .detail_box .img_item 
  .box_info_authentication  .item_right_active{
 /* width: 250px;
  height: 25px;
  line-height: 25px;
  overflow: hidden;
  background: #FFF;
  color: #000;
  font-weight: bold;
  display: inline-block;
  float: left;
  text-align: left;
  text-indent: 5px;
  right: 200px;*/
 width: 200px;
 background: #FFF;
 float: left;
 position: absolute;
 margin-left: -100px;
 margin-bottom: -10px;
 
}
#restaurant_list_content .box_restaurant_content ul li 
  .detail_box  .info_restaurant {
  width: 100%;
  height: auto;
  -webkit-border-radius: 0px 0px 5px 5px;
  -moz-border-radius: 0px 0px 5px 5px;
  border-radius: 0px 0px 5px 5px;
  background: #eee;
}

#restaurant_list_content .box_restaurant_content ul li 
  .detail_box  .introduce_restaurant {
  width: 230px;
  margin-left: 5px;
  height: auto;
  text-align: left;
  float: left;
  margin-top: 5px;
}
#restaurant_list_content .box_restaurant_content ul li 
  .detail_box .introduce_restaurant span {
  float: left;
  font-size: 12px;
 
}


#restaurant_list_content .box_restaurant_content ul li 
  .detail_box  .info_restaurant .vote{
  width: 90px;
  height: auto;
  float: left;
  margin-left: 5px;
  margin-top: 5px;
  /*background: #7bae00;*/
  
}
.star_on{
  float: left;
  width: 15px;
  height: 15px;
  overflow: hidden;
  text-indent: -999em;
  cursor: pointer;
  background: url(../../../includes/images/icon/ratestar_selected.png);
  background-size: 15px;
}
.star_off{
  float: left;
  width: 15px;
  height: 15px;
  overflow: hidden;
  text-indent: -999em;
  cursor: pointer;
  background:url(../../../includes/images/icon/redbutton_icon_1.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: center;
}


#restaurant_list_content .box_restaurant_content ul li 
  .detail_box  .info_restaurant .line{
  width: 100%;
  height: 1px;
  float: left;
  margin-top: 5px;
  background:#D0D0D0;
  
}
#restaurant_list_content .box_restaurant_content ul li 
  .detail_box  .info_restaurant .like_comment{
  width: auto;
  height: auto;
  float: right;
  margin-top: 5px;
  margin-right: 5px;
 /* background:#D0D0D0;*/
  
}
#restaurant_list_content .box_restaurant_content ul li 
  .detail_box  .info_restaurant .like_comment .comment{
  float: left;
  margin-right: 10px;
}
#restaurant_list_content .box_restaurant_content ul li 
  .detail_box  .info_restaurant .like_comment .comment .image_comment{
  float: left;
  width: 15px;
  height: 15px;
  overflow: hidden;
  text-indent: -999em;
  cursor: pointer;
  background: url(../../../includes/images/icon/icon_comment.png);
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 3px;
   
}
#restaurant_list_content .box_restaurant_content ul li 
  .detail_box  .info_restaurant .like_comment .comment .text{
  font-size: 12px;
   
}
#restaurant_list_content .box_restaurant_content ul li 
  .detail_box  .info_restaurant .like_comment .like{
  float: left;
  
}
#restaurant_list_content .box_restaurant_content ul li 
  .detail_box  .info_restaurant .like_comment .like .image_like{
  float: left;
  width: 15px;
  height: 15px;
  background: url(../../../includes/images/icon/icon_thumbsup.png);
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 3px;
}
#restaurant_list_content .box_restaurant_content ul li 
  .detail_box  .info_restaurant .like_comment .text{
    font-size: 12px;
  
}
#restaurant_list_content .box_restaurant_content ul li 
  .detail_box  .info_restaurant .avartar_restaurant{
  float: left;
  width: 40px;
  height: 40px;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 5px;
    border-radius: 5px;
  -moz-border-radius: 5px;
  
}
#restaurant_list_content .box_restaurant_content ul li 
  .detail_box  .info_restaurant .avartar_restaurant img{
    border-radius: 2px;
  -moz-border-radius: 2px;
  width: 40px;
  height: 40px;
  
}
#restaurant_list_content .box_restaurant_content ul li 
  .detail_box  .info_restaurant .title_address{
  float: left;
  width: 190px;
  height: auto;
  margin-top: 5px;
  
}

#restaurant_list_content .box_restaurant_content ul li 
  .detail_box  .info_restaurant .title_address .title {
  height: auto;
  clear: both;
  float: left;
  margin-left: 5px;
  text-align: left;
}
#restaurant_list_content .box_restaurant_content ul li 
  .detail_box  .info_restaurant .title_address .title a{
  color: #e10000;
  text-transform: capitalize;
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  color: #717171;
  display: block;
}
/*
#restaurant_list_content .box_restaurant_content ul li 
  .detail_box  .info_restaurant .title_address .title a:hover{
  text-decoration: none;
  color: #eb9316;
  font-size: 14px;
  
}*/
.address {
  margin-bottom: 5px;
  font-size: 11px;
  float: left;
  margin-left: 5px;
  text-align: left;
}