/********************
 * FEATURE CAROUSEL *
 ********************/
.carousel-container {
  position:relative;
  width:100%;
  
}
#carousel {
  height:550px;
  width:1024px;
 /* margin-left: -115px;*
 /* background-color:#CCC;*/
 /* background: url('../../../includes/images/icon/slidebg.png');*/
  position:relative;
  margin-bottom:0.5em;
  font-size:12px;
  font-family: Arial;
  margin-top: 0px;
}
.carousel-image {
  border:0;
  display:block;
  width: 660px;
  height: 580px;
  
}
.carousel-feature {
  margin-top: -20px;
  position:absolute;
  top:-1000px;
  left:-1000px;
  /*border:2px solid #5d5d5d;*/
  cursor:pointer;
}
.carousel-feature .carousel-caption {
 
  position:absolute;
  bottom:350px;
  width:200px;
  height: 200px;
  margin-left: 30px;
  
  background-color:#000;
 

}
.carousel-feature .carousel-caption span {
  color: #FFF;
  
}
.carousel-feature .carousel-caption .text_align_center{
 margin-top: 20px;
  
}

.carousel-feature .carousel-caption span b {
  font-size: 18px;
  font-size-adjust: 0.54px;
}
.tracker-summation-container {
  position:absolute;
  color:white;
  right:48px;
  top:420px;
  padding:3px;
  margin:3px;
  background-color:#000;
}
.tracker-individual-container {
  position:absolute;
  color:white;
  right:400px;
  top:480px;
  padding:0;
  margin:0;
  z-index: 100;
  
}
.tracker-individual-container ul {
  
}
.tracker-individual-container li {
  list-style:none;
  width: 25px;
  height: 22px;
  
  
}
.tracker-individual-container .tracker-individual-blip {
  /*margin:0 3px;
  padding:0 3px;
  color:#005702;
  text-align:center;*/
  background: url('../../../includes/images/icon/radiobox2.png' ) no-repeat;
  background-size: 22px;
  height: 22px;
  /*border-radius: 20px;
  -moz-border-radius: 20px;*/
}
.tracker-individual-container .tracker-individual-blip-selected {
  background: url('../../../includes/images/icon/radiobox.png' ) no-repeat;
  background-size: 22px;
  height: 22px;
}
#carousel-left {
  top: 500px;
  position:absolute;
  bottom:33px;
  left:220px;
  cursor:pointer;
 
}
#carousel-right {
   top: 500px;
  position:absolute;
  bottom:33px;
  right:220px;
  cursor:pointer;
}
